* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.colors {
  display: flex;
  flex-direction: row;
}

section {
  margin: 40px;
}

#first-color,
#second-color {
  border: 1px solid black;
  width: 150px;
  height: 150px;
}
